body {
	background-color: white;
}
			
.title {
	overflow: hidden;
	float: left;
	background-color: #333;
	position: fixed;
	font-family: Impact;
	z-index: 3;
	margin-top: 0.1%;
	margin-left: 6%;
	border-right: solid 0px;
	border-color: transparent;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-left: solid 0px;
	border-color: transparent;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
	
.title a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
	
.nav_bar {
	background-color: #333;
	font-family: Impact;
	float: right;
	position: fixed;
	right: 0.52%;
	z-index: 3;
	margin-top: 0.1%;
	margin-right: 6%;
	border-left: solid 0px;
	border-color: transparent;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: solid 0px;
	border-color: transparent;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
	
			
.nav_bar #left {
	border-left: solid 10px;
	border-color: transparent;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.nav_bar #right {
	border-right: solid 10px;
	border-color: transparent;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
	
.nav_bar .link {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
	
button {
	font-family: Impact;
}
	
.dropDown {
	float: left;
}
			
.dropDown .dropBtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
}

.nav_bar a:hover, .dropDown:hover
.dropBtn {
	color: #cc0000;
	display: block;
}

.aivaHeading {
	z-index: 1;
	padding: 0px 0px;
	position: absolute;
	margin-top: 3%;
	left: 3%;
	font-family: Impact;
	font-size: 25px;
	color: #333;
}
	
.abstractHeading {
	z-index: 1;
	padding: 0px 0px;
	position: absolute;
	margin-top: 10%;
	left: 3%;
	font-family: Impact;
	font-size: 25px;
	color: #cc0000;
}

.abstract {
	z-index: 1;
	padding: 0px 0px;
	position: absolute;
	margin-top: 12%;
	left: 3%;
	font-family: Impact;
	font-size: 35px;
	color: #333;
}
	
.proposalHeading {
	z-index: 1;
	padding: 0px 0px;
	position: absolute;
	margin-top: 40%;
	left: 3%;
	font-family: Impact;
	font-size: 25px;
	color: #cc0000;
}
			
.aivaP1 {
	z-index: 1;
	padding: 0px 0px;
	position: absolute;
	margin-top: 45%;
	left: 3%;
	font-family: Impact;
	font-size: 20px;
	color: #333;
	width: 50%;
	height: 100%;
}

.pictures {
	z-index: 1;
	padding: 0px 0px;
	position: absolute;
	margin-top: 10%;
	right: 30%;
	font-family: Impact;
	font-size: 25px;
	color: #cc0000;
}

.picturesP1 {
	z-index: 1;
	padding: 0px 0px;
	position: absolute;
	margin-top: 14%;
	right: 5%;
	font-family: Impact;
	font-size: 25px;
	color: #333;
}
	
#aivaPic1 {
	z-index: 2;
	padding: 0px 0px;
	width: 40%;
	height: 60%;
	position: absolute;
	display: blocked;
	overflow: hidden;
	margin-top: 30%;
	right: 1%;
	border: solid 5px;
	border-color: #333;
	border-radius: 100px;
}
	
#aivaPic2 {
	z-index: 2;
	padding: 0px 0px;
	width: 40%;
	height: 60%;
	position: absolute;
	display: blocked;
	overflow: hidden;
	margin-top: 65%;
	right: 1%;
	border: solid 5px;
	border-color: #333;
	border-radius: 100px;
}
	
#aivaPic3 {
	z-index: 2;
	padding: 0px 0px;
	width: 40%;
	height: 60%;
	position: absolute;
	display: blocked;
	overflow: hidden;
	margin-top: 100%;
	margin-bottom: 1%;
	right: 1%;
	border: solid 5px;
	border-color: #333;
	border-radius: 100px;
}
